.outer-box{
    width:90%;
    margin-left:5%;
    text-align: center;
}


img{
    width:25rem;
}

.fcolumn{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inputText{
    margin-top:1rem;
    height:5rem;
    width:40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media screen and (max-width:480px){

    .outer-box{
        font-size: smaller;
    }

    img{
        width:16rem;
    }
} 