.Booking-Resume{
    width:80%;
    margin: 0% 10% 0% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:30rem;
}

.Booking-Resume > img {
    height: 27.5rem;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

.content > table{
    width:80%;
    text-align: center;
}

.button-container{
    width:80%;
    margin: 0% 10% 0% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container > button{
    width:20%
}

button.btn-outline-light {
    background-color: #fff;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button.btn-outline-light:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  button.btn-outline-light:active {
    transform: scale(0.95);
  }

@media screen and (max-width:1025px){
    .Booking-Resume{
        flex-direction: column;
        width:90%;
        font-size: 0.75rem;
    }

    th{
        padding:1rem;
    }

    #imageSuccess{
        display: none;
    }

    .overflowTwo{
        overflow-x: scroll;
        border:3px lightgray solid;
        width:20rem;
        margin-right:1rem;

    }

    .button-container > button{
        width:60%
    }
}